.gallery {
  padding-top: 2.5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .625rem;
}

.photo-gallery.container {
  padding-left: .9375rem;
  padding-right: .9375rem;
  padding-bottom: 1.5625rem;
}



.card-link {
  width: 100%;
  flex-basis: calc((100% - 60px) / 4);

  box-shadow: 10px 10px 18px -12px rgb(115, 120, 175);
  background: radial-gradient(circle 610px at 5.2% 51.6%, rgba(247, 237, 255, 0.625) 0%, rgba(237, 237, 255, 0.668) 97.5%) no-repeat fixed;

  transition: transform 250ms linear;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

}

.photo-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.photo {
  display: block;
  width: 100%;

  height: 100%;
  object-fit: cover;
}


.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .625rem;
  padding: .9375rem;

  width: 100%;

  font-size: .8125rem;

  background: radial-gradient(circle 610px at 5.2% 51.6%, rgba(245, 237, 251, 0.767) 0%, rgba(238, 238, 253, 0.699) 97.5%) no-repeat fixed;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;

  color: #8e8cc0;
  text-shadow: 1px 1px 1px #FFF;


  @media screen and (min-width: 480px) {
    font-size: .75rem;
  }

  @include tablet {
    font-size: .875rem;
  }

  @include desktop {
    font-size: .75rem;
  }
}

.info-item-likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.box-likes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.circle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;
  border: none;
  outline: none;

  width: 100%;
  cursor: pointer;

  width: 2.125rem;
  height: 2.125rem;
  border-radius: 3.125rem;
  background-color: transparent;

  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: inset -1px -1px 3px white, inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  &:hover > .bi {
    color: #ff0000;
    transform: scale(0.8);
  }

  &:active > .bi {
    color: #ff0000;
  }

  &:active {
    box-shadow: inset -1px -1px 3px white,
      inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  &:hover > .bi {
    color: #ff0000;
  }

}

.bi {
  width: 1rem;
  color: #fff;


  &:hover {
    color: #ff0000;
  }
}

.red {
  color: #ff0000;
}


.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.load-more {
  display: block;
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  width: 9.375rem;
  padding: .625rem;
}